<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FLyingSnail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FLyingSnailActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>InHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PrivateDeploy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ToadyExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC0E94B61E1F4BDE00A8C76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACBC73211DBDB47100151040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACC596541DED0CC300A06FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACE20AD41D97EF00001B4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACE20AEA1D97EF00001B4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACE20AF51D97EF00001B4F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
